%h1.section #{User.model_name.human.pluralize} de #{@account.name}
%ul.user-list
  - @account.users.each do |user|
    %li
      = link_to user.name, edit_account_user_path(@account, user)
= render partial: "accounts/links"
