- if user_signed_in?
  %h2 Bem vindo, #{current_user.email}
- else
  %h2.section Planos
  %p Estes são os nosso planos. Escolha o seu:
  %ul.plans
    - Plan.all.each do |p|
      %li
        %a
          = link_to "#{p.name} - R$ #{p.price}", new_plan_account_path(p.id)
