ul.hmenu {
  float: right;
  list-style: none;
 li {
    display: inline;
    a {
      color: #ddd;
      text-decoration: none;
      padding: 1px 4px;
      &:hover {
        background-color: #333;
      }
    }
  }
}
